.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen  and (max-device-width: 1194px){
  .container {
    display: flex;
    flex-direction: column;
    
  }
  
}