.conclusion {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: #22356f;
  font-size: 36px;
  font-style: italic;
  line-height: 53px;
  padding: 0 50px;
}

@media only screen and (max-device-width: 1274px) {
  .conclusion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .conclusion img {
    width: 350px;
    margin: 20px 0;
    border-radius: 30%;
  }

  .info {
    gap: 20px;
    line-height: 35px;
    padding: 10px 20px;
    max-width: 600px;
  }

  .info_name {
    font-size: 20px;
  }

  .info_text {
    font-size: 18px;
  }
}
