.aboutUs {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(2, 580px);
  background-color: rgba(244, 249, 226, 1);
  gap: 40px;
  justify-items: center;
  justify-content: center;
  padding: 40px 0;
}

.img_dino {
  width: 543px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  font-style: italic;
  font-size: 38px;
}

.descr {
 font-size: 24px;
 line-height: 42px;
}

.name, .descr {
  color: rgba(34, 53, 111, 1);
}

@media only screen and (min-device-width: 834px) {
  .aboutUs {
    grid-template-columns: 600px 250px;
    background-color: rgba(244, 249, 226, 1);
    gap: 10px;
    padding:  0 0 40px 0;

  }
  .img_dino {
    width: 200px;
  }
  .name {
    font-size: 28px;
  }
  .info {
    gap: 20px;
  }
  .descr {
   font-size: 20px;
  }
}