.header {
  background-color: rgba(244, 249, 226, 1);
  display: grid;
  grid-template-columns: 250px 600px 250px 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
}

.link {
  margin-right: 60px;
  font-size: 22px;
  text-decoration: none;
  color: #000000;
  font-family: "ABeeZee", sans-serif;
}

.link:hover {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.btn,
.btn_close {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(249, 182, 64, 1);
  color: rgba(255, 255, 255, 1);
  font-style: italic;
  border: none;
  cursor: pointer;
}

.btn {
  font-size: 14px;
}

.btn_close {
  font-size: 22px;
}

select {
  width: 60px;
  height: 30px;
  border-radius: 12px;
  background-color: rgba(249, 182, 64, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.modal__frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.modal__comtacts {
  font-size: 32px;
}

.modal__mail svg,
.modal__phone svg {
  font-size: 45px;
}

.modal__mail a,
.modal__phone a {
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal__mail,
.modal__phone {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
}

/* Для планшета iPad 11 в горизонтальной ориентации */
@media only screen and (max-device-width: 1274px){
  .header {
    grid-template-columns: 100px 450px 120px 100px;
  }

  .link {
    margin-right: 30px;
    font-size: 18px;
  }

  .btn,
  .btn_close {
    width: 120px;
    height: 40px;
  }

  .btn_close {
    font-size: 24px;

  }
}

/* Для мобильного телефона */
@media only screen and (max-width: 834px) {
  .header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px 0;
  }
}
