.header {
  background-color: rgba(244, 249, 226, 1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
}

.link {
  margin-right: 60px;
  size: 14px;
  text-decoration: none;
  color: #000000;
  font-family: "ABeeZee", sans-serif;
}

.link:hover {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(249, 182, 64, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-style: italic;
  border: none;
  cursor: pointer;
}
