* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 95px 50px;
    gap: 30px;
    max-width: 480px;
    height: 480px;
  }

  .darkblue {
    background: #22356f;
  }
  
  .blue {
    background: #0052c1;
  }
  
  .green {
    background: #76b58b;
  }