.banner {
  background-color: rgba(255, 255, 255, 1);
  color: #22356f;
  font-size: 24px;
  font-style: italic;
  line-height: 34.042px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 740px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (max-device-width: 1274px){


  .banner {
    height: fit-content;
    padding: 30px 20px;
  }

  .text p {
    font-size: 18px;
  }
}